.ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open {
  height: 210pt;
  width: 410pt;
  margin: 0 auto; }
  .ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open .modal-body div input.invalid {
    border: 1px solid red; }
  .ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open .modal-body div .error-message {
    color: #ff7272;
    padding: 1em;
    font-weight: bold; }

.App .container .btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px; }

.moviesList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }
  .moviesList .movie {
    width: 33%;
    background: #ffc0cb;
    border: 1px solid;
    height: 250px;
    position: relative;
    object-fit: fill; }
    .moviesList .movie .movieImg {
      width: 100%;
      height: 100%;
      position: absolute; }
    .moviesList .movie .movieDetails {
      width: 100%;
      height: 100%;
      position: absolute;
      flex-direction: column;
      justify-content: space-between; }
      .moviesList .movie .movieDetails .movieTitle {
        font-size: 12px;
        text-align: center; }
      .moviesList .movie .movieDetails .detiails {
        flex-direction: column;
        margin-top: 13pt; }
        .moviesList .movie .movieDetails .detiails div {
          font-size: 7px;
          padding: 2px 0; }
          .moviesList .movie .movieDetails .detiails div span {
            font-weight: bold; }

.modalContainer .modal {
  margin-top: 45px; }
  .modalContainer .modal .modal-dialog .modal-content .modal-body div input.invalid {
    border: 1px solid red; }
  .modalContainer .modal .modal-dialog .modal-content .modal-body div .error-message {
    color: #ff7272;
    padding: 1em;
    font-weight: bold; }
