.ReactModalPortal{
    .ReactModal__Overlay{
        &.ReactModal__Overlay--after-open{
            .ReactModal__Content{
                &.ReactModal__Content--after-open{
                    height: 210pt;
                    width: 410pt;
                    margin: 0 auto;
                    .modal-body{
                        div{
                            input{
                                &.invalid{
                                    border: 1px solid red;
                                }
                            }
                            .error-message {
                                color: #ff7272;
                                padding: 1em;
                                font-weight: bold;
                            }
                        }
                    }
                }
            } 
        }
    }
} 

.App{
    .container{
        .btnContainer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 10px;

            button{
            }
        }

    }
}
.moviesList{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap ;

    .movie{
        width: 33%;
        background: #ffc0cb;
        border: 1px solid;
        height: 250px;
        position: relative;
        object-fit: fill;

        .movieImg{
            width: 100%;
            // overflow: hidden;
            height:100%;
            position: absolute;
        }

        .movieDetails{
            width: 100%;
            // overflow: hidden;
            height:100%;
            position: absolute;
            flex-direction: column;
            justify-content: space-between;

            .movieTitle{
                font-size: 20pt;
                text-align: center;
            }

            .detiails{
                flex-direction: column;
                margin-top: 13pt;

                div{
                    font-size: 9pt;
                    padding: 2px 0;
                    
                    span{
                        font-weight:bold;

                    }
                }
            }
        }
    }
}

.modalContainer{
    .modal{
    margin-top: 45px;

        .modal-dialog{
            .modal-content{
                .modal-body{
                    div{
                        input{
                            &.invalid{
                                border: 1px solid red;
                            }
                        }

                        .error-message {
                            color: #ff7272;
                            padding: 1em;
                            font-weight: bold;
                          }
                    }
                }
            }
        }
    }
}